.head-border{
    position: relative;
    h2{
        text-align: center;
        background-color: $redColor;
        color:#fff;
        margin: 30px auto;
        padding: 10px 15px;
        width:400px ;
        border-radius: 15px;
        text-transform: uppercase;
    @media #{$maxMopile}{
        width: 300px;
    }
        &::before{
            content: ' ';
            position: absolute;
            width: 100%;
            height: 1.5px;
            position: absolute;
            top:50%;
            left: 0;
            background-color: $gryColor;
            z-index: -1;
        }
    }
}