$maxMopile: "(max-width : 767px)";
$maxSmall: "(max-width : 991px )";
$minSmall: "(min-width : 768px)";
$minMedium : "(min-width : 992px)";
$minLarge: "(min-width : 1200px)";
$floatleft: left;
$floatright: right;

$redColor: #e2494c;
$gryColor: #9c9c9c;


$text-right :right;
$text-left: left ;
