footer{
    background-color:#e2e2e2;
    overflow-x: hidden;
    padding-top: 30px;
    margin-top: 50px;


    .gallery, .contact-us , .info{
        float:$floatleft;
    }

.gallery{
 



@media #{$minSmall}{
width:100%
}

@media #{$minMedium}{
       width: 50%;
}




    .img-box{
    overflow: hidden;
    margin-bottom: 20px;


    img{
    
        width:150px;
        height: 150px;
@media #{$minSmall}{
    float: $floatleft;
}


    }
    .text{
  
      


@media #{$minSmall}{
       float: $floatleft;
        margin-right: 15px;
        margin-left: 15px;
          width:calc(100% - 180px);
}


    }
    h4{
        color: $redColor;
        margin: 20px 0 0 ;
    }
    p{
 color:#888;
        line-height: 1.9;
    }
}
}
.info{
@media #{$minSmall}{
width:50%
}

@media #{$minMedium}{
       width: 25%;
}





ul{
color:#888;
  line-height: 1.8;
  font-weight: bold;
li{
    span{
        color: $redColor;
    }
}

}

h4{
color:#888;
  font-weight: bold;
  margin-bottom: 0;
}
p{
color:#888;
}

}

.contact-us{


@media #{$minSmall}{
width:50%
}

@media #{$minMedium}{
       width: 25%;
}



    input[type="text"],
    input[type="email"],
    textarea{
        border : 1px solid #c9c9c9;
        padding: 10px;
        margin-bottom: 5px;
        border-radius: 10px;
        width: 100%;
    }
    textarea{
        height: 140px;
    }

}
.section-title{
    color: #444;
    font-weight: normal;
}
.copyright{
    padding:25px 0  ;
border-top: 1px solid #c5c5c5;
overflow: hidden;
color:#888;
margin-top: 20px;


    .text, .author {
margin-bottom: 20px;
    @media #{$minSmall}{
    float: $floatleft;
    width: 50%;
    margin-bottom: 0;
}
    }
    .author {

   @media #{$minSmall}{
       text-align: $text-right ;
   }
    }
}
}