* {
  @include prefixer(box-sizing, border-box, moz webkit);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
  position: relative;
@media #{$minSmall}{
  width:750px
}
@media #{$minMedium}{
  width:970px
}
@media #{$minLarge}{
  width: 1170px;
}

}
.clearfix{
  clear: both;
}



.text-center-xs{
  @media #{$maxMopile} {
    text-align: center;
  }
}